<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.App" />
    <option name="VM_PARAMETERS" value="$MODULE_DIR$" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>